:root {
    --mycol: #ff003c;
    --gcol: linear-gradient(to right, red, blue);
}

span {
    color: var(--mycol);
}

* {
    
    box-sizing: border-box;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
    text-transform: capitalize;
}

*::-webkit-scrollbar {
    display: none;
}

html,

body {
    height: 100%;
    width: 100%;
    /* background-image: url(back_image); */
    background-color: #141313;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.avatar {
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
}

nav {
    height: 100px;
    width: 100vw;
    position: fixed;
    display:flex;
    flex-direction: column; /* Change direction to vertical */
    align-items: center;
    justify-content: space-between;
    top: 0px;
    z-index: 100;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.016));
    backdrop-filter: blur(5px);
    font-weight: 700;
    padding: 0 20px;
}
.search_section{
    width:98%;
    display:flex;
    flex-direction: column; /* Change direction to vertical */
    justify-content: space-between;
}
.nav-links a {
    display:inline;
    flex-direction: row; /* Change direction to vertical */
    justify-content: flex-start;
    color: white;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
}

.page_header{
    background: #141313;
    width: 100%;
    height:auto;
    margin: 0; /* Remove or adjust margins */
    padding: 0; /* Remove or adjust padding */
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 25;
}
.yt-nav{
    position: sticky;
    top:101px !important ;
}


.nleft {
    left: 5%;
    position: absolute;
}

.nryt {
    gap: 20px;
    right: 5%;
    position: absolute;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.nryt a {
    margin: 0 3px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.nryt a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: var(--mycol);
    bottom: -5px;
    left: 0%;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.nryt a.active::after {
    width: 90%;
}



.outer {
    width: 100vw;
    padding-top: 80px;
    overflow: hidden;
}

.inner {
    width: 200vw;
    display: flex;
}

.main {
    margin-top: 80px;
    display: flex;
    /*flex-wrap: wrap;  Allow wrapping of items */
    gap: 10px; /* Add spacing between items */
    flex-direction: column;
    position: relative;
    padding: 5px;   
    background-size: cover;
    width: 100vw;
}

.file-name {
    margin-top: 5px;
    width: 98%;
    display:none;
    flex-direction: row; /* Change direction to vertical */
    justify-content: flex-start;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(#1095c1,#1095c1);
    background-size: 0 100%;
    background-repeat: no-repeat;
    border: #727171;
    transition: .4s;
    /*box-shadow: inset 0 0 15px rgba(199, 196, 196, 0.556); 
    background: linear-gradient(to bottom, rgba(52, 52, 52, 0.732), rgba(153, 153, 153, 0.321));*/
}
.file-name.selected{
    
    background-size: 100% 100%;
    /*background: linear-gradient(to bottom, rgba(219, 214, 214, 0.559), rgba(109, 108, 108, 0.663));*/
}

.file-name h4 {
    color: var(--mycol);
}

.hover-1 {
    background-image: linear-gradient(#1095c1,#1095c1);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
  }

.file-name.selected:hover {
    background-size: 100% 100%;
  }
.downloadBtn {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 20px;

}

.downloadBtn button {
    opacity: 0;
    border-radius: 6px;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0.187), rgba(240, 240, 240, 0.105));
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 10px;
    padding-left: 50px;
    border: none;
    text-transform: uppercase;
}

.downloadBtn img {
    height: 20px;
}

.abt {
    overflow: hidden;
}

.about {
    width: 100vw;
    background-size: cover;
    backdrop-filter: blur(1px);
    height: 100vh;
    position: relative;
    transition: all 0.4s ease;
    overflow: hidden;
}

.about::-webkit-scrollbar {
    display: none;
}

.about-nav {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(1px);
    position: fixed;
    left: 0%;
    z-index: 200;
    font-size: 14px;
    top: 12%;
    display: none;
}

.about-nav a {
    position: relative;
    margin: 0 7px;
}

.about-nav a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: var(--mycol);
    bottom: -5px;
    left: 1px;
    border-radius: 30px;
    transition: all 0.4s ease;

}

.about-nav a.active::after {
    width: 90%;
}

.about-dets {
    height: 100vh;
    width: 400vw;
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 0.4s ease;
}

.abt-sec {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    z-index: 100;
    gap: 10%;
    padding-top: 130px;
    backdrop-filter: blur(5px);
    overflow: hidden;

}

#sec4 {
    gap: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

#sec4 h1 {
    margin-bottom: 30px;
}

.abt-sec h1 {
    text-align: center;
    transform: translateY(20px);
    font-weight: 700;
}

.abt-sec p {
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.links button {
    width: 350px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background: linear-gradient(to top, rgba(46, 46, 46, 0.365), rgba(46, 46, 46, 0.443));
    font-size: 15px;
    font-weight: 550;
    transition: all 0.4s ease;
    /* opacity: 0; */
}

.links a {
    opacity: 0;
}

button {
    transition: all 1s ease;
    /* opacity: 0; */
    /* animation: linksBtnAn 2s ease 0.3s infinite, strtLoad 4s ease 0.5s forwards; */
    position: relative;
    overflow: hidden;
}

.links button::before,
.downloadBtn button::before {
    opacity: 0;
    left: -10px;
    top: -20px;
    content: "";
    width: 20%;
    height: 200%;
    position: absolute;
    background-color: #ffffff18;
    box-shadow: 2px 2px 30px 30px #ffffff18;
    rotate: 20deg;
    animation: var(--beforestyl);
    filter: contrast(100);
}

.links button:hover {
    scale: 1.05;
}

button:active {
    scale: 0.7;
}

.box {
    margin-bottom: 60px;
}

.box h3 {
    margin-bottom: 15px;
    position: relative;
}

.box a {
    margin-top: 15px;
}

.box p {
    margin-top: 5px;
}

.box h3::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 90%;
    background-color: var(--mycol);
    bottom: -3px;
    left: 0%;
    border-radius: 30px;
    transition: all 0.4s ease;
}

/* middle part  */
.mid {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 10%;
}

.last-text {
    text-align: center;
    padding: 10%;
}

.movie-cont {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.movieSug {
    height: 500px;
    width: 95vw;
    border-radius: 2%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.movieSug::before {
    content: '';
    height: 110%;
    width: 110%;
    position: absolute;
    background: linear-gradient(to right, black 20%, rgba(0, 0, 0, 0.322) 75%, rgba(0, 0, 0, 0));
    top: 0%;
    left: -10px;
}

.movieDets {
    padding: 5%;
    height: 100%;
    width: 45vw;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    gap: 10px;
    z-index: 100;
}

.movieDets h3:first-child {
    font-size: 32px;
    font-weight: 600;
}
.image-container {
    width: 48%;
    position: relative;
    display: inline-block;
}
.movieimg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    object-fit:"cover";
    align-items: left;
    gap: 10px;
    border-radius: 5%;
}
.file-dtl{
    width: 52%;
    display:flex;
    flex-direction: column; /* Change direction to vertical */
    justify-content: space-between;
    text-align: left;
    padding-left : 8px;
    gap: 5px;
    
}
.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.movieimg img {
    max-height: 400px;
    box-shadow: 2px 2px 100px 70px rgba(0, 0, 0, 0.566);
    border-radius: 10px;
}

.movieDets span {
    font-weight: 700;
    font-size: 20px;
}

.movieDets h4:nth-child(2) {
    margin-top: 20px;
    font-size: 23px;
    font-weight: 700;
}

.movieDets h4:nth-child(3) {

    font-size: 15px;
    font-weight: 700;
}

.movieStsBar {
    display: none;
}

.ranMovBtn {
    border-radius: 6px;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0.187), rgba(240, 240, 240, 0.105));
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 10px;
    padding-left: 50px;
    border: none;
}

.copyright {
    margin: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.copyright h5 {
    font-size: 13px;
}

.searchbox{
    padding: 5px;
    margin-top: 10px;
    color: #333;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}
.suggestions {
    width:100%;
    top:50% ;
    padding: 5px;
    color: rgb(224, 220, 220);
    max-height: 200px;
    text-align: left;
    align-items: left;
    overflow-y: auto;
    background: rgb(51, 50, 50);
    border-radius: 0 0 10px 10px;
    z-index: 101; /* Ensure suggestions are above other content */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    
}

.suggestions ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}

.suggestions li {
    list-style: none;
    color: rgb(224, 220, 220);
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
}

.suggestions li:hover {
    background: #727171;
}
.autocomplete-suggestions {
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
}
.autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
}
.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}

.video-title{
    font-weight: 500;
    color:white;
    width: 95%;
    height: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video-channel{
  color:rgba(227, 227, 230, 0.768);
  font-Size:12px;
}
.channel-dtl{
    display:flex;
    flex-direction: row; /* Change direction to vertical */
    justify-content: flex-start;
    gap: 10px ;
    width: 95%;
    height: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.demo-video-card {
    margin-top: 5px;
    display:flex;
    flex-direction: row; /*  Change direction to vertical */
    justify-content: flex-start;
    height: 160px;
    width: 98%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(52, 52, 52, 0.301), rgba(153, 153, 153, 0.075));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
}
.fade-out {
    
    animation: fade 1.5s ease-in-out;
}

.demo-video-thumbnail {
    width: 60%;
    height: 100%;
    background: #e0e0e0;
}

.demo-video-details {
    padding: 16px;
    width: 40%;
}

.demo-video-title, .demo-video-info {
    height: 16px;
    background: #e0e0e0;
    margin-bottom: 8px;
}

.demo-video-title {
    width: 100%;
}

.demo-video-info {
    width: 80%;
}
.demo-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #e0e0e0;
}
.demo-loading-div{
    display: none;
}
/* Animation for loading placeholder */
.loading {
    opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}




@keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }



@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #e4e1e1;
    }
    100% {
        background-color: #c9c6c6;
    }
}


@keyframes linksBtnAn {

    from {
        scale: 1;
    }

    50% {
        scale: 1.02;
    }

    to {
        scale: 1;
    }
}

@keyframes strtLoad {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes button_shine {
    from {
        opacity: .9;
        left: -100px;
    }

    to {
        opacity: 1;
        left: 400px;
    }
}

@media (min-width : 550px) {
    body{
        align-items: center;
        text-align: center;
        
    }
    .main{
        margin-inline: auto;
        width:500px;
        
    }
    .demo-video-card{
        width: inherit;
    }
    .nav{
        margin-inline: auto;
        width:500px;
        align-items: center;
        text-align: center;
    }
    .search_section{
        width: 500px;
    }
    .suggestions{
        width: 500px;
    }
    
    
}







/*@media (max-width : 1029px) {

    .movieDets h3:first-child {
        font-size: 25px;
    }
}

@media (max-width : 992px) {
    .movieSug {
        scale: 0.9;
    }

    .movie-cont {
        scale: 0.9;
    }

}

@media (max-width : 800px) {
    .movie-cont {
        scale: 0.9;
    }

    .movieSug {
        height: 400px;
    }

    .movieimg img {
        max-height: 300px;

    }

    .movieDets {
        scale: 0.8;
    }

}

@media (max-width : 637px) {
    .movieSug {
        background-position: right;
        padding: 5%;
        scale: 1;
        width: 90vw;
    }

    .movie-cont {
        width: 90vw;
        padding: 5%;
        scale: 1;
    }

    .movieDets {
        display: none;
    }

    .movieStsBar {
        display: block;
        border-radius: 6%;
    }

    .movieDets-mini {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 80%;
        left: 50px;
        transform: translate(-35px, -120px);

    }

    .movieSug::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        background: linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.322) 75%, rgba(0, 0, 0, 0));
        top: 10%;
        left: 0px;
    }

    .movieimg img {
        transform: translate(75px, -40px);

    }
}
  */       
        